@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Software Development</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Upload Csv file</h2>
        <p>Test project allows you to upload a Csv file and then view its content in real-time</p>
        <p><a class="btn btn-success" href="/Transaction/Index">Go to upload &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Transactions</h2>
        <p>You can easily view the Csv file you uploaded in real-time here.</p>
        <p><a class="btn btn-primary" href="/Transaction/TransactionLog">Click here &raquo;</a></p>
    </div>
</div>